.subtitle {
    margin-top: 0px;
}

.subtitle1 {
    margin-top: 3px;
    margin-bottom: 1px;
}


.tooltip-as-label-demo {
    font-size: 28px;
    font-weight: bold;
    background: none;
    border: none;
    box-shadow: none;
    -webkit-text-stroke: 1px white;
}

/*隐藏小箭头*/
.tooltip-as-label-demo::before {
    display: none;
}


.info-card {
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 2px;
    margin-bottom: 2px;
}


.bg-blueHour {
    background: 
        linear-gradient(90deg, #7E898F 0%, #636C75 100%), 
        radial-gradient(at top, rgba(255, 255, 255, 0.50) 0%, rgba(0, 0, 0, 0.55) 100%), 
        radial-gradient(at top, rgba(255, 255, 255, 0.50) 0%, rgba(0, 0, 0, 0.08) 63%);
    background-blend-mode: multiply, screen;
}

.bg-cosmos {
    background-color: #797572;
    background-image: 
        linear-gradient(-173deg, rgba(255,255,255,0.20) 0%, #000000 100%),
        linear-gradient(72deg, rgba(255,255,255,0.25) 25%, rgba(0,0,0,0.25) 100%),
        radial-gradient(47% 102%, rgba(255,255,255,0.50) 0%, rgba(21,24,32,0.60) 120%);
    background-blend-mode: multiply;
}




* {
    font-family: "Microsoft YaHei", "微软雅黑", sans-serif !important;
    /* font-weight: bold !important;  */
    /* color: white !important;  */
}

.glass-box {
    position: relative;
    /* margin: 50px; */
    padding: 5px;
    color: #333;
  }

  .glass-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5); /* 半透明白色层 */
    backdrop-filter: blur(10px);
    z-index: -1;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* 添加投影增强层次 */
  }

.input-group{
    margin-bottom: 10px;
}